*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(rgb(123, 255, 0),green,red); */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: violet;
    
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.empty{
    display: flex;
    justify-content: center;
}

.searchContainer{
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Maincontainer{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    justify-items: center;
}

.searchBar{
    height: 40px;
    width: 300px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    outline: none;
}
.searchBtn{
    height: 40px;
    margin-left: 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
}

.anchor{
    text-decoration: none;
    color: black;

}

.movieContainer{
    cursor: pointer;
    text-decoration: none;
    height: 350px;
    width: 220px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0px 15px 10px -15px #111;    */
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    transition: transform 0.3s ease-in;
}
.movieContainer:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}

.movieContainer>img{
    margin-top: 10px;
    width: 150px;
    height: 200px;
}

@media only screen and (max-width: 960px){
    .Maincontainer{
        grid-template-columns: repeat(3,1fr);
    }
}
@media only screen and (max-width: 730px){
    .Maincontainer{
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (max-width: 510px){
    .Maincontainer{
        grid-template-columns: repeat(1,1fr);
    }
}

.movieDetails{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.movieDetails>img{
    height: 200px;
    width: 200px;
}