*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(172, 255, 255);
}

.empty{
    display: flex;
    justify-content: center;
}

.searchContainer{
    padding: 50px 0;
    display: flex;
    justify-content: center;
}


.movieContainer{
    background-color: red;
    text-decoration: none;
    padding: 20px;
    border: 1px solid black;
    display: grid;
}

.movieContainer>img{
    width: 200px;
    height: 200px;
}